@value _softWhite: #FBF5F3;
@value _orange: #E28413;

.Secret {
    background: _softWhite;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.PuzzleContainer {
    user-select: none;
    font-size: 2rem;
    color: _orange;
    padding: 20px;
    max-width: 600px;
}
