@value _blue: #264653;
@value _aqua: #309084;
@value _yellow: #E9C46A;
@value _orange: #F4A261;
@value _red: #E76F51;

.MainMenu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
.LeftSide {
    display: grid; /* Center and expand the child GridContainer */
    background: _yellow;
}
.GridContainer {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.RightSide {
    display: grid;
    background: _red;
    grid-template-rows: 1fr auto;
}
.DescriptionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.SiteDescription {
    max-width: 400px;
    font-size: 2rem;
    color: _yellow;
    padding: 0px 10px;
}
.NavMenu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px 0px;
}

.aqua {
    background: _aqua;
    color: _aqua;
}
.yellow {
    background: _yellow;
    color: _yellow;
}
.orange {
    background: _orange;
    color: _orange;
}
.blue {
    background: _blue;
    color: _blue;
}

.SmallWidth {
    display: none;
    max-width: 400px;
    font-size: 2rem;
    color: _yellow;
    padding: 0px 10px;
}
@media screen and (max-width: 620px) {
  .SmallWidth {
      display: inline-block;
  }
  .SiteDescription {
      display: none;
  }
}
